/*table, th, td {*/
  /*border: 1px;*/
  /*border-collapse: collapse;*/
  /*border-style: solid;*/

/*}*/
table {
  border-collapse: collapse;
}
th {
  padding: 4px 10px;
}
thead > tr,
tbody tr:nth-child(2n + 2) {
  background-color: #DBF0FA;
}
thead > tr {
  text-align: left;
}
tr > th:first-child {
  text-align: right;
}
td {
  min-width: 100px;
  padding: 2px 6px;
}
td {
  font-size: 12px;
}